:root{
    --hover-color: #2374AB;
    --purple-font: #8A2BE2;
    --purple-font2: #ebdef7;
    --grey1-color: #DDDDDD;
    --grey2-color: #666666;    
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
    color: var(--purple-font);
    font-weight: bold;
  }
  
  body {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Righteous', cursive;
    color: var(--purple-font);
  }