header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #FFFFFF;

  filter: drop-shadow(0px 1px 4px rgba(2, 3, 20, 0.25));
}

header h1 {
  font-size: 1.5rem;
}

header i {
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.buttons .button {
  border: none;
  border-radius: 8px;
  background-color: var(--button-color);
  filter: drop-shadow(0px 1px 4px rgba(2, 3, 20, 0.25));

  padding: 10px;
  width: 300px;

  color: white;
  font-size: 1.3rem;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
}

.container {
  display: none;
  flex-direction: column;
  padding: 2rem;

  align-content: space-between;
}

.container .title {
  margin: 0.2rem 0 1rem 0 ;

  font-family: 'Cabin', sans-serif;
  font-weight: 700;
}

.container .content-button {
  border: solid 2px var(--button-color);
  border-radius: 8px;
  margin-top: 10px;

  filter: drop-shadow(0px 1px 4px rgba(2, 3, 20, 0.25));

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 250px;
}

.button-container {
  border: 0;
  background-color: white;
  padding: 10px;
  width: 200px;

  color: var(--button-color);
  font-size: 1.3rem;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
}
.content {
  display: none;
  border-top: solid 2px #BBBBBB;
  width: 200px;

  color: var(--button-color);

  font-size: 1.2rem;
  padding: 12px 0 12px 20px;
}
